body  {
    background-image: url("assets/heap-of-toasted-bread-2021-08-26-16-24-34-utc.jpg");
    background-size: cover;
    background-attachment: fixed;


  }
  .topnav a{
    float: left;
    color: white;
    background-color: black;
    font-family: Verdana,sans-serif;
    font-size: 20px;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    margin-bottom: 20px;
}
.topnav a:hover {
    background-color: white;
    color: black;
    font-family: Verdana,sans-serif;
    font-size: 20px;
    margin-bottom: 20px;
  }
  .Toast{ 
    text-align: right;
    float: top;
    font-family: Verdana,sans-serif;
    font-size: 100px;
    color: Black;
    margin-top: 10px;
  }  
  .menu {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.menu-item {
    flex: 1;
    background-color: black;
    font-family: Verdana,sans-serif;
    color: white;
    border: 2px; solid white;
    border-radius: 5px;
    padding: 20px;
    margin: 10px;
    text-align: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
.menu-item img {
    max-width: 100%;
    height: auto;
}
.hours-table {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10px;
    max-width: 400px;
    margin: 0 auto;
    border: 5px solid white;
    border-radius: 5px;
    padding: 20px;
    background-color: black;
    font-family: Verdana, sans-serif;
    color: white;
}

.day {
    font-weight: bold;
    font-family: Verdana, sans-serif;
}

.time {
    text-align: right;
    font-family: Verdana, sans-serif;
}